.open-sans-real {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 15px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
}

.span-style {
  color: #fd6e0a;
}

