.open-sans-real {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
}
.blog-color {
  color: #474747;
  font-weight: 600;
}
.btn-hire {
  background-color: #fd6e0a;
  padding: 10px 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.span-style {
  color: #fd6e0a;
}

.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-color: #fff8f3;
}

.banner-section {
  display: flex;
  align-items: center;
  padding: 0 10%;
}
.banner-details {
  width: 580px;
}
.banner-details h2 {
  font-size: 30px;
}
.banner-details h1 {
  font-size: 50px;
}
.banner-details p {
  font-size: 15px;
  margin-bottom: 10px;
}

.image-field {
  max-width: 510px;
  height: 603px;
}
main {
  max-width: 800px;
  margin: 0 auto;
}
.section-area {
  background-color: #fff8f3;
  padding: 100px;
  margin-top: 50px;
  border-radius: 15px;
}
.section-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}

.section-details {
  margin-bottom: 15px;
  font-size: 18px;
}
.section-values {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.detail {
  font-size: 15px;
  text-align: center;
}

.center-section {
  margin-top: 100px;
  padding: 50px;
}
.card {
  box-shadow: 4px 4px 0px 4px rgb(255, 118, 94);
  padding: 10px;
  border-radius: 10px;
}
.card-section {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}
.center-img {
  width: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.title {
  margin-bottom: 10px;
}
.resume {
  margin-top: 50px;
}
.resume-section {
  display: flex;
  gap: 30px;
  margin-top: 40px;
  padding: 20px;
}
hr {
  margin: 20px 0;
}
.resume-section h1 {
  margin: 15px 0;
}
.collage-name {
  font-size: 15px;
  color: #474747;
  margin: 10px 0;
}

.center {
  margin-left: 320px;
  margin-top: 20px;
}
