.open-sans-real {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
}
.blog-color {
  color: #474747;
  font-weight: 600;
}
.btn-hire {
  background-color: #fd6e0a;
  padding: 10px 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.span-style {
  color: #fd6e0a;
}

.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-color: #fff8f3;
}

.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
}
.banner-details {
  width: 580px;
}
.banner-details h2 {
  font-size: 30px;
}

.banner-details h1 {
  font-size: 50px;
}
.banner-details p {
  font-size: 15px;
  margin-bottom: 10px;
}

main {
  max-width: 800px;
  margin: 0 auto;
}
.section-area {
  background-color: #fff8f3;
  padding: 100px;
  margin-top: 50px;
  border-radius: 15px;
}
.section-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}

.section-details {
  margin-bottom: 15px;
  font-size: 18px;
}
.section-values {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.detail {
  font-size: 15px;
  text-align: center;
}

.center-section {
  margin-top: 50px;
  padding: 50px;
}
.card {
  box-shadow: 4px 4px 0px 4px rgb(255, 118, 94);
  padding: 10px;
  border-radius: 10px;
}
.card-section {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}
.center-img {
  width: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.title {
  margin-bottom: 10px;
}
.resume {
  margin-top: 50px;
}
.resume-section {
  display: flex;
  gap: 30px;
  margin-top: 40px;
  padding: 20px;
}
hr {
  margin: 20px 0;
}
.resume-section h1 {
  margin: 15px 0;
}
.collage-name {
  font-size: 15px;
  color: #474747;
  margin: 10px 0;
}

.center {
  margin-left: 320px;
  margin-top: 20px;
}
footer {
  margin-top: 50px;
  padding: 130px 230px;
  background-color: #fff8f3;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.connect-info {
  width: 50%;
}
.connect-info p {
  margin-top: 10px;
}

.input-form {
  width: 100%;
  padding: 10px;
  margin: 5px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 2px;
  border-radius: 5px;
}
.message-here {
  width: 310px;
  height: 110px;
  margin-left: 5px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 2px;
  border-radius: 5px;
  padding: 10px;
}

.btn-submit {
  margin-top: 5px;
}
.icon-section {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}
.hide {
  display: none;
}

@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
  }
  .banner-section {
    flex-direction: column-reverse;
    padding: 30px;
  }
  .banner-section img {
    width: 100%;
    margin-bottom: 10px;
  }
  .banner-details {
    width: 100%;
  }
  nav ul {
    flex-direction: column;
  }
  .header {
    background-image: url("../images/header_bg.png");
  }
  .btn-hire {
    width: 100%;
    margin-top: 10px;
  }
  .section-area {
    padding: 25px;
  }
  .section-values {
    flex-direction: column;
    text-align: center;
  }
  .detail {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .card-section {
    flex-direction: column;
  }
  .resume-section {
    flex-direction: column;
  }
  .center {
    width: 90%;
    margin-left: 0px;
    padding: 15px 0px;
    margin: 0 0 0 20px;
  }
  .footer-container {
    flex-direction: column-reverse;
    padding: 10px;
  }
  .connect-info {
    width: 90%;
    margin-top: 20px;
  }
  footer {
    padding: 10px 10px;
  }
  .input-form {
    width: 100%;
  }
  .message-here {
    width: 100%;
  }
  .btn-submit {
    width: 100%;
    margin-left: 5px;
    padding: 15px 0;
  }
  .center-section {
    padding: 20px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .banner-section {
    flex-direction: column-reverse;
  }
  .banner-details {
    margin-top: 20px;
  }
  .banner-details p {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .btn-hire {
    padding: 20px 100px;
    font-size: 20px;
    margin: 5px;
  }
  .section-details {
    font-size: 20px;
  }
  .detail p {
    font-size: 20px;
  }
  .detail h5 {
    font-size: 18px;
  }
  .section-values {
    gap: 5px;
  }
  .card-section {
    flex-direction: column;
  }
  .center {
    padding: 15px 70px;
    margin-left: 250px;
  }
  footer {
    padding: 30px;
  }
  .footer-container {
    flex-direction: column-reverse;
  }
  .message-here {
    width: 100%;
    font-size: 20px;
  }
  .input-form {
    padding: 20px 10px;
    font-size: 16px;
  }
  .connect-info {
    margin-top: 20px;
  }
}
/* @media screen and (min-width: 576px) and (max-width: 992px) {
  nav {
    background: red;
  } */
